.socials a {
    margin: 3rem;
    padding: 1.5em;
/*     white-space: nowrap; */
/*     line-height: 1.5em; */
/*     transition:.5s; */
/*     text-decoration: none; */
}

.socials i {
    max-width: 3em;
    min-width: 3em;
    height: 3em;
}
